<!--Name: Dominic Lau 300766421
    File name: businesslist.ejs
    Website name: Business Contacts
    Description: shows a table of business contacts -->

<% include ../partials/header.ejs %>

  <!--MAIN CONTENT  -->
  <div class="body_container">
    <div class="row">
      <div class="col-md-offset-3 col-md-5">
        <h1 style="font-size:100px;text-align: center">
            <%= title %>
        </h1>
        <br>
        
        


        
     </div>
   </div>
  </div>

  <% include ../partials/footer.ejs%>