<!--Name: Dominic Lau 300766421
    File name: login.ejs
    Website name: Login
    Description: Display login page to authenticate -->
<% include ../partials/header.ejs %>
  <!--MAIN CONTENT  -->
  <div class="body_container">
    <div class="row">
      <div class="col-md-offset-3 col-md-5">
        <h1 style="font-size:100px;text-align: center">Login Page</h1>
        <form method ="post">  
            <fieldset class ="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" required autofocus/>
            </fieldset>
            <fieldset class ="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" required/>
                or <a href="/register">Register</a>
            </fieldset>
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Log In"/>
                <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel">
                </a>
            </fieldset>
        </form>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs%>